// opensans
@import url('/assets/fonts/OpenSans/opensans.css');
// droidserif
@import url('/assets/fonts/droid-serif/web-fonts/droidserif_bold_macroman/stylesheet.css');
@import url('/assets/fonts/droid-serif/web-fonts/droidserif_bolditalic_macroman/stylesheet.css');
@import url('/assets/fonts/droid-serif/web-fonts/droidserif_italic_macroman/stylesheet.css');
@import url('/assets/fonts/droid-serif/web-fonts/droidserif_regular_macroman/stylesheet.css');
// FontAwesome
@import 'fa/font-awesome';
