/**
 * based on Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 * remixed by: Thomas Friese
 * http://tasmo.de/
 */

// Default mixins and settings -----------------
@import "../../reveal.js/css/theme/template/mixins";
@import "../../reveal.js/css/theme/template/settings";
// ---------------------------------------------

/**
 * Solarized colors by Ethan Schoonover
 * http://ethanschoonover.com/solarized
 */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}

/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

// Override theme settings (see ../template/settings.scss)
$mainColor: $base1;
$headingColor: $base2;
$headingTextShadow: none;
$headingTextTransform: none;
$headingLineHeight: 1em;
$headingMargin: .5em;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

$mainFont      : 'open_sanslight', 'Open Sans', Arial, sans-serif;
$mainFontSize  : 2.1rem;
$mainFontWeight: lighter;
$headingFont   : $mainFont;
$headerFont    : 'open_sanssemibold';
$captionFont   : $mainFont;
$codeFont      : 'Source Code Pro', 'Inconsolata', monospace;
$codeFontSize  : $mainFontSize - .5rem;
$altFont       : serif;
$italicFont    : 'open_sanslight_italic', 'Open Sans', Arial, sans-serif;
$quoteFont     : 'droid_serifitalic', serif;

// Theme template ------------------------------
@import "../../reveal.js/css/theme/template/theme";
// ---------------------------------------------
@import "syntax/syntax_solarized";
@import "../mixin";
@import "../fonts";
// ---------------------------------------------
.reveal {
  font-weight: $mainFontWeight;
  p,
  ul {
    text-align: left;
    font-weight: 300;
  }
  pre {
    padding: 0.5em 0.6em;
    @include border-radius(0.3em);
	box-shadow: none;
  }
  h1,h2,h3,h4,h5,h6,p,li {
    code:first-child {
      font-size: $mainFontSize;
      background: $base2;
      color: $base03;
      border: 0 solid $base2;
      @include border-radius(0.15em);
      padding: 0 0.3em;
    }
  }
  pre,
  code {
    font-family: $codeFont;
    font-size: $codeFontSize;
    font-weight: normal;
  }
  pre code {
    padding: 0;
    word-wrap: break-word;
  }
  .slides {
    top: 45%;
  }
  .slides>section,
  .slides>section>section {
    padding: 0;
  }
  .slides>section {
    .fragment.highlight-red,
    .fragment.highlight-current-red,
    .fragment.highlight-green,
    .fragment.highlight-current-green,
    .fragment.highlight-blue,
    .fragment.highlight-current-blue {
      opacity: 1;
    }
    .fragment.highlight-red.visible {
      * {
        color: $red;
      }
      color: $red;
    }
    .fragment.highlight-green.visible {
      * {
        color: $green;
      }
      color: $green;
    }
    .fragment.highlight-blue.visible {
      * {
        color: $blue;
      }
      color: $blue;
    }
    .fragment.highlight-current-red.current-fragment {
      * {
        color: $red;
      }
      color: $red;
    }
    .fragment.highlight-current-green.current-fragment {
      * {
        color: $green;
      }
      color: $green;
    }
    .fragment.highlight-current-blue.current-fragment {
      * {
        color: $blue;
      }
      color: $blue;
    }
  }
}
